i {
    width: 3rem;
    text-align: left;
}

button.collapsed .fa-minus {
    display: none;
}

button:not(.collapsed) .fa-plus {
    display: none;
}

.card.industry:hover {
    opacity: 0.6;
}

.card.packaged-good:hover {
    opacity: 0.6;
}