<%- include('partials/header') %>

<div class="container">
    <h3 class="text-primary">Configuring visually has never been easier ...</h3>
    <ul>
        <li><a href="/configurations">Show all configurations</a></li>
        <li><a href="/configurations/new">Add new configuration</a></li>
    </ul>
</div>

<%- include('partials/footer') %>