<%- include('../partials/header') %>

<div class="container">
    <h3 class="text-primary">EDIT</h3>
    <p>render SHOW template + update button for UPDATE route (POST request</p>
    <div>
        <form action="/configurations" method="POST">
            <button class="btn btn-primary btn-block" type="submit">Start Your Configuration</button>        
        </form>

    </div>
</div>

<%- include('../partials/footer') %>