<%- include('../partials/header') %>

<div class="container">
    <h3 class="text-primary"></h3>
    <div>
        <form id="add-cfg" action="/configurations" method="POST">
            <button class="btn btn-primary btn-block" type="submit">
                Create New Cocnfiguration</button>        
        </form>

    </div>
</div>

<script src="/public/scripts/new.js"></script>
<%- include('../partials/footer') %>